[package]
name = "journal-index"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
allocative = { workspace = true }
regex = { workspace = true }
roaring = { workspace = true , features = ["serde", "allocative"] }
serde = { workspace =  true, features = ["derive"] }
static_assertions = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }

journal-core = { path = "../journal-core" }
journal-common = { workspace = true }
journal-registry = { workspace = true }

[dev-dependencies]
tempfile = { workspace = true }
uuid = { workspace = true }
