[package]
name = "otel-plugin"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[dependencies]
anyhow = { workspace = true }
atty = { workspace = true }
bytesize-serde = { workspace = true }
bytesize = { workspace = true }
clap = { workspace = true }
humantime-serde = { workspace = true }
humantime = { workspace = true }
regex = { workspace = true }
serde_json = { workspace = true, features = ["preserve_order"] }
serde_regex = { workspace = true }
serde = { workspace=true }
serde_yaml = { workspace = true }
tokio = { workspace = true }
tonic = { workspace = true, features = ["gzip", "tls-ring"] }

journal = { workspace = true }
flatten_otel = { path = "../flatten_otel" }

tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }
tracing-opentelemetry = { workspace = true }

opentelemetry = { workspace = true }
opentelemetry_sdk = { workspace = true , features = ["rt-tokio", "logs"] }
opentelemetry-otlp = { workspace = true, features = ["grpc-tonic", "logs"] }
opentelemetry-proto = { workspace = true }
