[package]
name = "types"
version.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
journal = { workspace = true }
journal-histogram = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
